@charset "UTF-8";

@import 'vendor/normalize';

body {
    text-align: center;
}

.password-input {
    margin-top: calc(30vh - 20px);
}

.error {
    color: red;
}

header .active {
    color: black;
}

table {
  margin: 0 auto;
  text-align: left;
}

td {
  padding: 3px 50px;
}

nav a {
    display: block;
    color: red;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

nav a:hover {
    color: blue;
}

.nav-home-btn {
    color: black;
}

nav {
    margin: 10px;
}

.sign-out-btn {
  position: absolute;
  bottom: 25px;
}

.search-guest-list {
  list-style: none;
  width: 200px;
  margin: 0 calc(50vw - 90px);
  padding: 0;
}

.search-guest-list .active {
  background: #bae8e8;
}

.search-guest-list li {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.search-guest-list li:hover {
  background: #dce8ba;
}